#!/bin/bash
export CLICOLOR=1
function scpup2 () 
{ 
	if [ ! $1 ]; then
		echo "Usage: scpup2 sourcefile destinationfile"
		return 1
	elif [ ! $2 ]; then
		DEST=$(basename $1)
	else
		DEST=$2
    fi
	echo root@vwebsk.kmundp.de:~/$DEST
	return $?
    scp -r $1 root@vwebsk.kmundp.de:~/$DEST
}

# FileSearch
function f() {
    if [ $# -eq 1 ]; then
        find . -iname "*$1*"
    fi

    #find $SEARCHPATH -iname "*$1*" ${@:2}
    
    PARAM=$1
    f_it() {
        find "$@" -iname "*$PARAM*"
    }

    shift
    for fname in "$@"; do
        f_it "$fname"
    done


}

function fp() {
    SP='./'
    PARAMCOUNT=2
    if [ -z $2 ]; then
        SP=$2
        PARAMCOUNT=3
        echo "true"
    fi
    echo "find $SP -iname \"*$1*\" ${@:PARAMCOUNT}"
    find $SP -iname "*$1*" ${@:PARAMCOUNT}
}

function param() {
    PC=2
    echo "1 ${@:1}"
    echo "2 ${@:2}"
    echo "3 ${@:3}"
    echo "$PC ${@:PC}"
	echo "$1" ${@:2} -R . 
}

function r() {
#    grep "$1" ${@:2} -R . 
    PARAM=$1
    r_it() {
        grep -irl $PARAM "$@"
    }

    shift
    for fname in "$@";
    do
        r_it "$fname"
    done


}

#mkdir and cd
function mkcd() { mkdir -p "$@" && cd "$_"; }

function opex() {
    xdg-open $1 &
}

#fmp() { 
#    for fname in "$@"; do 
#        fmp_helper "$fname";
#    done  
#}
#
#fmp_helper() { 
#    nautilus "$@"; 
#}

fmp ()  {

    fmp2() { 
        nautilus "$@"; 
    };

    for fname in "$@";
    do         
        fmp2 "$fname";         
    done; 
}

checkfile() {
    checkfile_it() {
        while true;
        do 
            clear;
            tail -45 "$@";
            sleep 1;
        done
    }

    for fname in "$@"
    do
        checkfile_it "$fname"
    done

}
